@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 75, 85, 99;
  --background-start-rgb: 255, 249, 244;
  --background-end-rgb: 255, 249, 244;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
